body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u50 {
  position:absolute;
  left:12px;
  top:20px;
  width:934px;
  height:485px;
  font-size:14px;
  color:#CCCCCC;
}
#u51 {
  position:absolute;
  left:2px;
  top:234px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u53 {
  position:absolute;
  left:12px;
  top:20px;
  width:934px;
  height:52px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u55 {
  position:absolute;
  left:13px;
  top:21px;
  width:88px;
  height:50px;
  font-size:18px;
  color:#666666;
}
#u55_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u57 {
  position:absolute;
  left:101px;
  top:21px;
  width:60px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u59 {
  position:absolute;
  left:886px;
  top:21px;
  width:60px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u61 {
  position:absolute;
  left:826px;
  top:21px;
  width:60px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u64 {
  position:absolute;
  left:232px;
  top:120px;
  width:495px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u65 {
  position:absolute;
  left:15px;
  top:9px;
  width:478px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u66 {
  position:absolute;
  left:232px;
  top:160px;
  width:495px;
  height:170px;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u67 {
  position:absolute;
  left:15px;
  top:77px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u68 {
  position:absolute;
  left:246px;
  top:182px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u71 {
  position:absolute;
  left:324px;
  top:170px;
  width:382px;
  height:40px;
  font-size:14px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:331px;
  top:174px;
  width:370px;
  height:32px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u74 {
  position:absolute;
  left:246px;
  top:232px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3.66665649414063px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u77 {
  position:absolute;
  left:324px;
  top:220px;
  width:382px;
  height:40px;
  font-size:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:331px;
  top:224px;
  width:370px;
  height:32px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:324px;
  top:270px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u80_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u82 {
  position:absolute;
  left:449px;
  top:280px;
  width:133px;
  height:20px;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#333333;
}
#u84 {
  position:absolute;
  left:382px;
  top:383px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#333333;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:center;
}
#u86 {
  position:absolute;
  left:382px;
  top:417px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
  text-align:center;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
